.changueComponent {
  border-left-color: #207ef2 !important;
  border-left-width: 4px !important;
  border-left-style: solid !important;
  border-right-color: #207ef2 !important;
  border-right-width: 4px !important;
  border-right-style: solid !important;
}
