div.carousel.carousel-slider {
  background-color: white;
}

#select-buy-mobile {
  /* width: 130px;
  min-width: 130px;
  max-width: 130px; */
  background: #efefef;
}

#select-sell-mobile {
  /* width: 130px;
    min-width: 130px;
    max-width: 130px; */
  background: #efefef;
}

#indicator-label {
  margin-left: 20px;
  margin-right: 15px;
}

.calculator-imput-mobile {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}

#icon-mobile-calculator {
  margin-left: 9px;
  margin-right: 9px;
}

#container-pading-mobile {
  padding: 10px 10px 16px 12px;
}
