.title-moneyclick {
  color: #015981 !important;
  font-weight: bold !important;
  text-align: center;
  padding-left: 125px !important;
}

.logo-store {
  padding: 8px !important;
}
.img-download {
  text-align: right;
}
.img-phone {
  padding-bottom: 0rem !important;
}
.logoMC {
  text-align: center !important;
  margin-top: -7px !important;
  padding: 13px !important;
}
.logos-retail {
  padding: 18px !important;
}
.logo-store-retail {
  padding: 1px !important;
}
